<%= form_for @user, url: registration_complete_path, method: :put do |f| %>

		<p><%= @user.email %></p>
		<p><%= f.password_field :password, placeholder: "Password" %></p>
		<p><%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %></p>
		<p><%= f.text_field 		:username, placeholder: "Username" %></p>
		<p><%= f.text_field 		:name, placeholder: "Full Name" %></p>
		<p><%= f.text_field 		:website, placeholder: "Website" %></p>
		<p><%= f.submit "Complete Registration" %></p>
		
<% end %>