<%= render partial: "layouts/header" %>

  <section>
    <div class="form-area"> 
        <div class="small-6 columns">
          <div class="sign"><h2>SIGN IN</h2></div>  
        </div>

        <div class="small-6 columns">
          <div class="sign_in">Don't have an account? <%= link_to 'Sign Up', register_path, id: "form_text_header" %></div>
        </div>

        <%= form_for :user, url: login_url, method: :post do |f| %>
          <div class="large-12 columns">
            <%= f.text_field :email, placeholder: "Your Email" %>
          </div>
          <div class="large-12 columns">
            <%= f.password_field :password, placeholder: " Your Password" %>
          </div>

          <div class="small-6 columns">
            <%= f.submit "SIGN IN", class: "button" %>
          </div>

          <div class="small-6 columns">
            <div class="forgot_password">Forgot your password?</div>
          </div>

        <% end %>

    </div>  
  </section>      