<%= render partial: "layouts/header" %>
	
	<div class="todi-tag">
		<p>A digital diary for busy people. Record your daily musings and thoughts.</p>
	</div>
		
	<div class="brand-message"><h2>TODAY I FELT</h2></div>
			
		<div class="row">	
			<div class="large-3 columns image-wrapper">
				<a href="" data-reveal-id="hey"><%= image_tag "happy.png" %></a>
				<h4>HAPPY</h4>
			</div>

			<div class="large-3 columns image-wrapper">
				<%= image_tag "love.png" %>
				<h4>LOVE</h4>
			</div>

			<div class="large-3 columns image-wrapper">
				<%= image_tag "omg.png" %>
				<h4>OMG!!!</h4>
			</div>

			<div class="large-3 columns image-wrapper">
				<%= image_tag "sad.png" %>
				<h4>SAD</h4>
			</div>	
		</div>


		<div class="row">
			<div class="large-3 columns image-wrapper">
				<%= image_tag "grumpy.png" %>
				<h4>GRUMPY</h4>
			</div>

			<div class="large-3 columns image-wrapper">
				<%= image_tag "confused.png" %>
				<h4>CONFUSED</h4>
			</div>

			<div class="large-3 columns image-wrapper">
				<%= image_tag "tired.png" %>
				<h4>TIRED</h4>
			</div>

			<div class="large-3 columns image-wrapper">
				<%= image_tag "stoked.png" %>
				<h4>STOKED</h4>
			</div>
		</div>	

			<div id="hey" class="reveal-modal">
        <%= render partial: "layouts/intro" %>
        <a class="close-reveal-modal">&#215;</a>
      </div>

<script>		
$(function() {
	$('.reveal-modal').each(function(index, item) {
		var id = $(item).attr('id');
		$('[data-reveal-id='+id+']').click(function(event) {
			$(item).foundation('reveal', 'open');
			return false;
		});
	});
	$('body').on('click', '.reveal-modal-bg, .close-reveal-modal', function(event){
		$('.reveal-modal').foundation('reveal', 'close');
	});

});
</script>	
